*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: rgba(169,3,41,1);
    background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 45%, rgba(109,0,25,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(45%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
    background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 45%, rgba(109,0,25,1) 100%);
    background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 45%, rgba(109,0,25,1) 100%);
    background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 45%, rgba(109,0,25,1) 100%);
    background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 45%, rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}

h1 {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    height: 60px;
    align-items: center;
    -webkit-box-shadow: 31px 26px 89px -13px rgba(0,0,0,0.92);
    -moz-box-shadow: 31px 26px 89px -13px rgba(0,0,0,0.92);
    box-shadow: 15px 17px 20px -14px rgba(0,0,0,0.92);
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 50px;
    
}

.delete {
    margin-left: 20px;
    margin-top: 20px;
}

.all {
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 98%;
    height: 100px;
    background-color: darkslategray;
    color: white;
    align-items: center;
    -webkit-box-shadow: 31px 26px 89px -13px rgba(0,0,0,0.92);
    -moz-box-shadow: 31px 26px 89px -13px rgba(0,0,0,0.92);
    box-shadow: 15px 17px 20px -14px rgba(0,0,0,0.92);
}